/* *{
    padding-right: 0;
    margin: 0;
} */

.padre{
    border: 1px rgb(0, 0, 0) solid;
    width: 100vw; /*vw: width de la pantalla*/
    height: 100vh; /*vw: height de la pantalla*/
    display: flex;
}

.izquierda{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(0, 32, 91);
}

.derecha{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background: rgb(0, 32, 91);
}

.up{
    width: 90%;
    height: 40%;
    background: white;
}

.down{
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    background: white;
}

.up2{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: flex-end;
    background: white;
}

.down2  {
    width: 90%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background: white;
}

.rojo{
    width: 90%;
    height: 90%;
    background: rgb(186, 12, 47);
}

.rojo2{
    width: 95%;
    height: 90%;
    background: rgb(186, 12, 47);
}



